body {
  background: black;
}

.mainContent {
  text-align: center;
}

.content-card {
  z-index: 999;
  color: white;
  max-width: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.content-title{
  vertical-align: middle;
  text-align: center;
  font-size: large;
  color: white;
  font-family: monospace;
}

.content-card a{
    color: greenyellow;
}

.content-background{
  background-color: #1b1b1c;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  opacity: 0.7;
}

.card-title{
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

.card-footer{
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: right;
  width: 100%;
}

.card-creation_date{
  display: inline;
}

.card-edit_date{
  display: inline;
  margin-left: 5px;
  font-style: italic;
}

.paginator{
  max-width: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
}

.paginator a{
    text-decoration: none;
    color: greenyellow;
}

.paginator .nextPage{
  float: right;
  text-align: right;
}

.paginator .prevPage{
  float: left;
  text-align: left;
}
